
    <header>

      <!-- Nav Bar -->
      <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
        <div class="container">
          {% if page.permalink != '/' -%}
          <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
            {%- if site.title == "blank" -%}
              {%- if site.first_name -%}
                <span class="font-weight-bold">{{- site.first_name -}}&nbsp;</span>
              {%- endif -%}
              {%- if site.middle_name -%}
                {{- site.middle_name -}}&nbsp;
              {%- endif -%}
              {%- if site.last_name -%}
                {{- site.last_name -}}
              {%- endif -%}
            {%- else -%}
              {{- site.title -}}
            {%- endif -%}
          </a>
          {%- elsif site.enable_navbar_social -%}
          <!-- Social Icons -->
          <div class="navbar-brand social">
            {% include social.html %}
          </div>
          {% endif %}
          <!-- Navbar Toggle -->
          <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>

          <div class="collapse navbar-collapse text-right" id="navbarNav">
            <ul class="navbar-nav ml-auto flex-nowrap center-navbar">

              {%- for page in site.pages -%}
                {% if page.permalink == '/' %}
                  {% assign about_title = '[About]' %}
                  {% assign education_title = '[Education]' %}
                  {% assign work_experience_title = '[Work Experiences]' %}
                  {% assign publication_title = '[Publications]' %}
                  {% assign misc_title = '[Misc.]' %}
                {% endif %}
              {% endfor %}

              <!-- About -->
              <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
                <a class="nav-link" href="#about-header">{{ about_title }}
                  {%- if page.permalink == '/' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              <!-- Education -->
              <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
                <a class="nav-link" href="#education-header">{{ education_title }}
                  {%- if page.permalink == '/' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              <!-- Experience -->
              <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
                <a class="nav-link" href="#experience-header">{{ work_experience_title }}
                  {%- if page.permalink == '/' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              <!-- Publication -->
              <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
                <a class="nav-link" href="#pub-header">{{ publication_title }}
                  {%- if page.permalink == '/' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              <!-- Misc. -->
              <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
                <a class="nav-link" href="#misc-header">{{ misc_title }}
                  {%- if page.permalink == '/' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>

              <!-- {%- if site.enable_darkmode %} -->
              <!-- Toogle theme mode
              <li class="toggle-container">
                <button id="light-toggle" title="Change theme">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
                </button>
              </li> -->
              <!-- {%- endif %} -->
            </ul>
          </div>
        </div>
      </nav>
{% if site.enable_progressbar %}
      <!-- Scrolling Progress Bar -->
      <progress id="progress" value="0">
        <div class="progress-container">
          <span class="progress-bar"></span>
        </div>
      </progress>
{%- endif %}
    </header>
