---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h3 class="post-title">
          {{ "About" }}
          </h3>
          <hr class="header-line" style="margin-bottom: 3vh;">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}" style="margin-left: 2vw;">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              style="width: 12vw; height: auto;"
              alt=page.profile.image -%}
            {% endif -%}
          </div>
          {%- endif %}

          <div class="profile-info">
            {%- assign cv_path = page.profile.cv | prepend: 'assets/cv/' -%}

            <h3 style="margin-bottom: 2vh;"><strong>{{page.profile.name}}</strong></h3>
            <h6><strong>{{page.profile.title}}</strong></h6>
            <p><i class="fas fa-building"></i> Address: {{page.profile.address}}</p>
            <p><i class="fas fa-envelope"></i> Email: {{page.profile.email}}</p>
            <p><i class="fas fa-code"></i> Code: <a href="{{page.profile.code_link}}">[GitHub]</a>
            <p><i class="fas fa-file-pdf"></i> Curriculum Vitae: <a href="{{ cv_path }}">[pdf]</a></p>
          </div>

          <div>
            {{ content }}
          </div>

          <!-- News -->
          {% if page.news -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">news</a></h2>
            {%- include news.html %}
          {%- endif %}

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.html %}
          {%- endif %}

          <!-- Selected papers -->
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">selected publications</a></h2>
            {%- include selected_papers.html %}
          {%- endif %}

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>

</div>
